<ion-header>
  <ion-toolbar>
    <ion-title>
      My TODOs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-item>
    <ion-input type="text" placeholder="Enter your task" [(ngModel)]="todoItem"></ion-input>
    <ion-button slot="end" (click)="addTodoItem()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let todo of todoList; let ind = index;">
      <ion-chip slot="start">{{ ind }}</ion-chip>
      <ion-label>{{ todo }}</ion-label>
      <ion-button slot="end" (click)="updateTodoItem()" class="action-button edit-todo">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="deleteTodoItem()" class="action-button delete-todo">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>